@use './partials/_variables' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fontsource/lato/index.css';
@import 'node_modules/bootstrap/scss/bootstrap';



body {
  font-family: "Lato", sans-serif;
  background-color: $primary-color;
}

header {
  width: 95%;
  margin: 0 auto;
}